version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  python_bot:
    build: ./path_to_your_python_bot
    container_name: python_bot_container
    ports:
      - '5000:5000'
    depends_on:
      - mongodb

volumes:
  mongo_data:
